<h1>Add a Dealership</h1>

<form action="/dealerships" method="post">
  <label for="name">Dealerships Name:</label>
  <input type="text" name="name">
  <button type="button" name="submit">Enter</button>
</form>
