<h1>Welcome to Kev's and Diego's wheel and deal sale!</h1>
<a href="/dealerships"><button type="button">See Dealerships</button></a>
<a href="/dealership/new"><button type="button">Add a Dealership</button></a>
